<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::page-head">
    <meta charset="UTF-8">
    <title>АВТОРЫ</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3">
            <div class="row">
                <div class="col-12">
                    <h1>АВТОРЫ</h1>
                    <a href="/authors/edit" class="btn btn-primary">Создать</a>
                    <a href="/" class="btn btn-outline-secondary">На главную</a>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Имя</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td>
                                <a th:href="@{/authors/edit(id=${item.id})}" th:text="${item.name}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
